html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

header {
  min-height: 100px;
}

footer {
  min-height: 490px;
  margin-top: auto;
}

body {
  height: 100vh;
  margin: 0;
}

.main-btn {
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  &.navy{
    background-color: $navy;
  }
}

.wrapper {
  max-width: 1200px;
  width: 85vw;
  margin: auto;
  @media all and (max-width: $md) {
    width: 90vw;
  }
}

.container{
  margin-top: 110px;
}

.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Ant*/
.custom-tab {
  .ant-tabs-tab{
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .ant-tabs-bar{
    border-bottom: 1px solid #d9d9d9;
  }
  .ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
    .ant-tabs-ink-bar{
      background-color: $navy;
    }
    .ant-tabs-tab-active{
      color: $navy;
    }
  }
}
